<!DOCTYPE html>
<html>
    <head>
        <title> Login Page </title>
    </head>
    <body>
        <form action="/login" method="post">
            <input type="text" name="username">
            <input type="password" name="password">
            <input type="submit" value="Login">
        </form>
        <div id="app">

        </div>
        <script src="/javascripts/Login/login.js"></script>
    </body>
</html>