<!DOCTYPE html>
<html>
    <head>
        <title>Change Password</title>
        <link href="/stylesheets/style.css" rel="stylesheet">
    </head>
    <body>
        <div id="app">

        </div>
        <script src="/javascripts/PasswordChange/password-change.js"></script>
    </body>
</html>
