<!DOCTYPE html>
<html>
    <head>
        <title> Registration </title>
        <link href="/stylesheets/style.css" rel="stylesheet">
    </head>
    <body>
        <div id="app">

        </div>
        <script src="/javascripts/Registration/registration.js"></script>
    </body>
</html>