<!DOCTYPE html>
<html>
    <head>
        <title> Registration </title>
    </head>
    <body>
        <div id="registrationForm">
            <h1> Registration </h1>
            <form action="/registration" method="post">
                <p><input type="text" name="username"></p>
                <p><input type="text" name="e-mail"></p>
                <p><input type="password" name="password"></p>
                <p><input type="submit" value="Submit"></p>
            </form>
        </div>
        <div id="app">

        </div>
        <script src="/javasripts/Registration/registration.js"></script>
    </body>
</html>