body {
  font-family: 'ProximaNova-Light';
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: #f2f3f4;
  padding: 0;
  margin: 0;
}


#app {
  height: auto;
}

a {
  text-decoration: underline;
  color: #DCF3F2;
}

#line {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: #2C40C2;
  width: 100%;
  height: 45px;
}

#mainLink {
  padding-left: 20px;
}

#profileLinks {
  padding-right: 20px;
}

@font-face {
  font-family: 'ProximaNova-Light';
  src: url('/fonts/proxima_nova_reg.ttf');
}