body {
  min-height: 100%;
  width: 100%;
  background-color: #f2f3f4;
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#line {
  background-color: #1B5DAB;
  width: 100%;
  height: 5vh;
}